@font-face {
  font-family: "MyFont";
  src: url("./Merriweather/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.ttf") format("truetype"),
    url("./Winky_Sans/WinkySans-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
h1{
    font-size: 2.5rem;
    color: crimson;
    font-family: "Myfont";
    padding-left: 550px;
    padding-top: 60px;
}
body {
  background: url("./icon.png");
  background-size: cover;

}
.hello {
  color: red;
  font-family: "MyFont";
  padding-top: 300px;
  padding-left: 50px;
}
